<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Add comment</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeComment()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form id="commentForm" name="commentForm" ng-submit="submitComment()">
      <div class="list">

        <label class="item item-input item-select">
          <span class="input-label">Rating </span>
          <select ng-model="comment.rating">
            <option selected="{{comment.rating}}" ng-repeat="n in [1,2,3,4,5]" value="{{n}}">{{n}}</option>
          </select>
        </label>

        <label class="item item-input">
          <span class="input-label">Name </span>
          <input type="text" ng-model="comment.author">
        </label>

        <label class="item item-input">
          <span class="input-label">Comment </span>
          <textarea rows="10" ng-model="comment.comment"/>
        </label>

        <label class="item">
          <button class="button button-block button-calm" type="submit">Submit</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
