<ion-popover-view style="height: 110px;">
  <ion-content>
    <div class="list">
      <a class="item" ng-click="addFavorite(dish.id)">Add to favorites</a>
      <a class="item" ng-click="showCommentForm()">Add comment</a>
    </div>
  </ion-content>
</ion-popover-view>

