<ion-view view-title="Contact Us">
  <ion-content>
    <div class="card">
      <div class="item item-divider item-positive">
        Location Information
      </div>
      <div class="item item-text-wrap">
        <p><b>Our Address</b><br>
          121, Clear Water Bay Road<br>
          Clear Water Bay, Kowloon<br>
          HONG KONG<br>
        <div class="ion-ios-telephone">: +852 1234 5678</div>
        <div class="ion-printer">: +852 8765 4321</div>
        <div class="ion-email">: <a href="mailto:confusion@food.net">confusion@food.net</a></div>
        </p>
      </div>
      <div class="button-bar">
        <a href="tel:+85212345678" class="button button-positive"><i class="fa fa-phone"></i> Phone</a>
        <a href="skype:confusionfood" class="button button-calm"><i class="fa fa-skype"></i> Skype</a>
        <a href="mailto:confusion@food.net" class="button button-balanced"><i class="fa fa-envelope"></i> Email</a>
      </div>
    </div>
  </ion-content>
</ion-view>
